﻿@model MangerSain.Models.Legume

@{
    ViewBag.Title = "Détails";
    SelectList SelectListClient = new SelectList(ViewBag.Clients, "Id", "Prenom");
}

<h2>Détails</h2>

<div>
    <h4>Legume</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provenance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la Liste", "Index")
    @using (Html.BeginForm("AjouterItem", "Paniers", new { id = Model.Id }, FormMethod.Post, null))
    {
        @Html.DropDownList("ListClient", SelectListClient, "sélectionner un client", new { @class = "form-control" })
        <button type="submit" class="btn btn-success">Ajouter dans panier</button>
    }
</p>
