﻿@model MangerSain.Models.Items

@{
    ViewBag.Title = "Créer";
}

<h2>Créer</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
 
        <table class="table">
            <tbody>
                <tr>

                   
                    <td>
                        <div>
                            @Html.ActionLink("Jus", "Index","Jus", null, new { @class = " btn btn-success sizeButton " })
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Lait", "Create", "Laits",null, new { @class = "btn btn-success sizeButton" })
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Légumes", "Create","Legumes", null, new { @class = "btn btn-success sizeButton" })
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Noix", "Create", "Noix", null, new { @class = "btn btn-success sizeButton" })
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Thé & Tisane", "Create","TheTisanes", null, new { @class = "btn btn-success sizeButton " })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

       


}


        <div>
            @Html.ActionLink("Retour à la liste", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
