﻿@model IEnumerable<MangerSain.Models.Items>

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>

<p class="jumbotron">
    @Html.ActionLink("Créer Nouveau", "Create" , "Items", new { @class = "btn btn-default" }) si vous êtes un administrateur
</p>

<div class="row">
    @foreach (var annonce in Model)
    {
        string NomControlleur = annonce.GetType().Name;

        if (NomControlleur != "Noix" && NomControlleur != "Jus" && NomControlleur != "Boissons")
        {
            NomControlleur += "s";
        }
        <div class="col-xs-12 col-sm-6 col-md-3 p-1">
            <div class="border rounded p-2">
                <h4>@Html.ActionLink(NomControlleur, "Index", NomControlleur)</h4>
                <h5>@annonce.Nom <br /><span class="badge badge-primary">@(annonce.Prix.ToString() + '$')</span></h5>
                <p>@(annonce.Description ?? "Aucune description")</p>
                @Html.ActionLink("Détail", "Details", NomControlleur, new { id = annonce.Id }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Modifier", "Edit", NomControlleur, new { id = annonce.Id }, new { @class = "btn btn-primary" })*@

            </div>
        </div>
    }
</div>
