﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('vegetables-vegetable-basket-harvest-garden.jpg');
    background-repeat:space;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(220,220,220,0.7);
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.sizeButton {
    width: 120px !important;
   
}
