﻿@model MangerSain.Models.Jus

@{
    ViewBag.Title = "Détails";
    SelectList SelectListClient = new SelectList(ViewBag.Clients, "Id", "Prenom", "Nom");
}

<h2>Détails</h2>

<div>
    @Html.ActionLink("Retour à la liste", "Index", "Items", new { @class = "btn btn-primary" })
    <h4>Jus</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })

    @Html.ActionLink("Supprimer", "Delete", "Jus", new { id = Model.Id }, new { @class = "btn btn-danger" })
    <hr />
</p>
<p>
    @using (Html.BeginForm("AjouterItem", "Paniers", new { id = Model.Id }, FormMethod.Post, null))
    {
        @Html.DropDownList("ListClient", SelectListClient, "sélectionner un client", new { @class = "form-control" })
        
        
            
      

        <button type="submit" class="btn btn-success">Ajouter dans le panier</button>
    }



</p>

