﻿@model MangerSain.Models.Panier

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>êtes-vous sur de vouloir supprimer @Html.DisplayFor(model => model.Total)?</h3>
<div>
    <h4>Panier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
