﻿@model MangerSain.Models.Panier

@{
    ViewBag.Title = "Détails";
    SelectList SelectListClient = new SelectList(ViewBag.Clients, "Id", "Prenom");
}

<h2>Détails</h2>

<div>
    <h4>Panier</h4>
    <br />
    <table class="table">
            <tr>
                <th>
                    Quantité
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prix
                </th>
                
                <th></th>
            </tr>

            @foreach (var panierItem in Model.ListeItems)
            {
                <tr>
                    <td>
                           @panierItem.Quantite
                    </td>
                    <td>
                        @panierItem.Article.Nom
                    </td>
                    <td>
                        @panierItem.Article.Prix
                    </td>
                    <td>
                        @Html.ActionLink("+", "AjouterItemPlus", "Paniers", new { idItem = panierItem.Id, idPanier = Model.Id, quantiteModif = 1 }, new { @class = "btn btn-success" })   
                        @Html.ActionLink("-", "AjouterItemPlus", "Paniers", new { idItem = panierItem.Id, idPanier = Model.Id, quantiteModif = -1 }, new { @class = "btn btn-warning" })  
                        @Html.ActionLink("Supprimer", "Delete","Paniers", new { idItem = panierItem.Id, idPanier = Model.Id }, new { @class = "btn btn-danger" })  

                    </td>
                    
                </tr>
            }
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayNameFor(model => model.Total)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Total)
                    </td>
                </tr>
        
        </table>
    @*<dl class="dl-horizontal">
        @foreach (var panierItem in Model.ListeItems)
        {
            <dt>
                Nom
            </dt>

            <dd>
                @panierItem.Article.Nom
            </dd>
            <dt>
                Quantité
            </dt>

            <dd>
                @panierItem.Quantite
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>*@
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
